.adminPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0e4ef;
  min-height: 100vh;
  padding-top: 80px;
}

.content {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.patientTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.patientTable th,
.patientTable td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.patientTable th {
  background-color: #a1869e;
  color: white;
  text-align: center;
}

.patientTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.patientTable tr:hover {
  background-color: #f1f1f1;
}

.patientTable th,
.patientTable td {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 5px;
}

.addButton,
.logoutButton {
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #a1869e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.addButton:hover,
.logoutButton:hover {
  background-color: #7b5677;
}

.inputField {
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.editButton,
.confirmButton,
.deleteButton {
  background-color: #6b486b;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.editButton:hover {
  background-color: #289828;
}

.confirmButton:hover {
  background-color: blue;
}

.deleteButton:hover {
  background-color: #ff1a1a;
}

.addPatientForm {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.errorMessages {
  color: red;
  margin-bottom: 10px;
}

.errorMessage {
  margin: 5px 0;
}
