.landingPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0e4ef;
  min-height: 100vh;
  padding-top: 80px;
  box-sizing: border-box;
  overflow: hidden;
}

.mainContent {
  width: 80%;
  max-width: 1200px;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

.welcomeSection,
.explanationSection,
.signInSection {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcomeSection h1,
.explanationSection h2,
.signInSection h2 {
  color: #6b486b;
}

.signInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputField {
  margin: 10px 0;
  padding: 10px;
  width: 200px;
  font-size: 16px;
  border: 1px solid #a1869e;
  border-radius: 5px;
}

.signInButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #a1869e;
  color: white;
  border: none;
  border-radius: 5px;
}

.errorMessages {
  color: red;
  margin-bottom: 10px;
}

.errorMessage {
  margin: 5px 0;
}
